@import "tailwindcss";

.preloader {
  height: 100vh;
  width: 100%;
  background: #0b0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
   position: relative;
  }

  .preloader-spinner {
  width: 35vw;       
  height: 35vw;
   max-width: 260px; 
  max-height: 260px;
  border: 4px solid #222;
  border-top-color: #ffb900;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.preloader-logo {
 position: absolute;
  width: 34vw;
  max-width: 250px;
   height: auto;
  opacity: 0;
  animation: appear 0.8s ease forwards, pulse 2s infinite ease-in-out;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
    from { opacity: 0; transform: scale(0.9); }
  to   { opacity: 1; transform: scale(1); }
  }
}

/* Плавное появление */
@keyframes appear {
  from { opacity: 0; transform: scale(0.9); }
  to   { opacity: 1; transform: scale(1); }
}

/* Лёгкая дыхательная анимация */
@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.06); opacity: 0.85; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 0; display: none; }
}